*{
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0%;
}

li {
    display: inline;
}

li a:hover {
    color: #9fcfe4;

}

.p {

    font-family: roboto;
}

h1 {
    color:#000;
    font-family:roboto;

}

.logo {
    margin-left: 43%;
}

.logo img {
    margin-left: 0%;
    text-align: center;
    width: 20%;
}

a {
    font-family: roboto;
    color: #0873a2;
    font-weight: 900;
    text-decoration: none;
}

.slide1 {
    margin-bottom: 10%;
    margin-top: 15%;
}

.slide1 img {
     width: 100%;

    -webkit-box-shadow: -1px 10px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 16px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 16px 0px rgba(0,0,0,0.75);

}

.slide2 {
    margin-bottom:10%;
    margin-top:15%;

}


.slide2 img {
    width:100%;


}

header {
    background: #ffffff;
    height: 180px;
    margin-bottom: -2%;
}

section {
    background: #fff;
}

nav a {
    font-size: 30px;
    padding: 5%;
    color: #0873a2;
}

nav {
    text-align: center;
    margin: 5%;
}




/*--------------------Homepage---------------------------*/

article {
    margin-left: 10%;
}

.b1 {
    width: 40%;
    float: left;
    margin-left: 4%;
    margin-bottom:5%;
    font-family: roboto;

}



.b1 img {
    width:100%;
    border-radius: 1%;
    box-shadow: -1px 10px 16px 0px rgb(125, 125, 125);


}

.b2 {
    width: 40%;
    float: left;
    margin-left: 4%;
    margin-bottom:5%;
    font-family: roboto;

}


.b2 img {
    width:100%;
    border-radius: 1%;
    box-shadow: -1px 10px 16px 0px rgb(125, 125, 125);

}


.b3 {
    width: 40%;
    margin-right: 12%;
    font-family: roboto;
    float: right;

}



.b3 img {
    width:100%;
    border-radius: 1%;
    box-shadow: -1px 10px 16px 0px rgb(125, 125, 125);
}




.b4 {
    width:40%;
    float: left;
    margin-left:4%;
    font-family:roboto;
   ;
}



.b4 img {
    width:100%;
    border-radius: 1%;
    box-shadow: -1px 10px 16px 0px rgb(125, 125, 125);
}


/*---------------------------Artikelpage----------------------------*/

.fotoblk1 {

    font-family:roboto;

}


.fotoblk1 img {
    width: 50%;
    margin-left:25%;
}



.infotxt1 {
    font-family: roboto;
    padding: 5%;
    background: #e8e8e8 !important;
    margin-left: 0%;
    margin-right: 0%;
    font-weight: 600;
    font-size: 18px;

}


.fotoblk2{
    font-family: roboto;
}

.fotoblk2 img{
    width: 50%;
    margin-left: -3%;
    margin-top: 1%;

}
/*----------------------------Aboutpage-----------------------------*/

.clrimg img {
    width: 100%;

}

.clrimg {
    text-align: center;
    margin-top:30%;

}

.prod1 img {
    width: 40%;
    float: left;
    margin-right: 15%;
}

.abouttxt {
    width: 80%;
    margin-left: 0%;
}

.abouttxt2{
    width: 80%;
    margin-left: 0%;
}

.aboutimg {
    width: 80%;
}
/*----------------------------Contactpage---------------------------*/

.contactinfo {
    margin-top:15%;

}

.Adres li {
    display: block;
}

.contacttxt {
    width: 35%;
    float: left;
    margin-left: 15%;
    font-family: roboto;
}


iframe {
    float: right;
    margin-right: 15%;
}




/*----------------------------footer--------------------------------*/

footer {
    float: left;
    border-top: 1px solid;
    width: 100%;
    color: #fff;
    background: #000;
    font-size: 12px;

}



@media only screen and (max-width: 750px) {

  nav a {
      padding: 2% !important;

  }

    .logo h1 {
        display: none;
    }


    li {
        display: block ;
    }
}



@media only screen and (max-width: 670px) {

    .logo {
        margin-left: 43%;
        width: 80%;
    }

    .logo h1 {
        display: none;
    }

    .slide1 {
        margin-top:25%;
    }

    .slide2 {
        margin-top: 25%;
    }

    .b1 {
        width: 80%;
        float: none;
        margin-left: 4%;
        margin-bottom: 5%;
        font-family: roboto;
    }

    .b3 {
        width: 80%;
        margin-right: 0% !important;
        font-family: roboto;
        float: none;
    }

    .b2 {
        width: 80%;
        margin-right: 12%;
        font-family: roboto;
        float:none;
    }

    .b4 {
        width: 80%;
        margin-right: 12%;
        font-family: roboto;
        float:none;
    }
}


@media only screen and (max-width: 450px) {

    ul {
        margin-left: -11%;
    }

}